/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, header, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************************* Navbar *************************** */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	min-width: 700px;
	min-height: 100%;
	position: relative;
}


#nav ul li {display: inline;
			padding: 0px 8px 0px 0px;
			font-weight: bold;
			margin: 0px 0px 0px 10px;

}

#nav ul li:hover {
	color: white;
}

#nav ul li:active {
	color:white;
}


#nav ul {
	margin-right: 10px;
}

#nav {height: 30px;
	  line-height: 30px;
	  padding: 0px;
	  width: auto;
	  display: block;
	  background: #292627;
	  color: #9D9D9E;
	  font-size: 13px ;
	  font-family: Helvetica;
	 
	}

#account {
	margin-top: 20px;
	position: relative;
	float: right;
}

#name {
	float: left;
	font-family: helvetica;
	text-align: right;
	font-size: 13px; 
	color: #5C5A5B;
	position: relative;
	margin-right: 15px;
	width: 300px;
	line-height:30px;

}

#mail_count {
	border: 1px solid #CF3037;
	height: 30px;
	width: 30px;
	background: #CF3037;
	font-family: helvetica;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 2px;
	float: left;
	position: relative;
	right: 10px;

}

/*logo*/

.logo {
	position: relative;
	margin: 20px auto;
	vertical-align: middle;
	padding-top: 120px;
	text-align: center;
	}

/*#logo img {
	margin-left: auto;
	margin-right:auto;
}*/


/*form*/


fieldset {
	width: 275px;
	margin: 0;
	padding: 5px 10px;
	position: relative;
	margin-left: auto;
	margin-right:auto;
} 

#query_box {
		border-radius: 0;
		border: 1px solid #CACFCA;
		display: block;
		margin-right: auto;
		margin-left: auto;
		height: 28px;
		width: 525px;
}

#query_box:hover {
	border: 1px solid #8B8F8B;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
}



#Google_Search {
	font-family: Helvetica;
	font-weight: bold;
	background: #E8E6E7;
	color:  #5C5A5B;
	font-size: 11px;
	border-radius: 2px;
	border-image: none;
	border: 1px solid #C9C7C8;
	margin: 10px 10px 0px 10px;;
	line-height: 50%;
	padding: 10px;
	float: left;
} 

#Google_Search:hover {
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.5);
}

#Im_Feeling_Lucky {
	font-family: Helvetica;
	font-weight: bold;
	background: #E8E6E7;
	color:  #5C5A5B;
	font-size: 11px;
	border-radius: 2px;
	border-image: none;
	border: 1px solid #C9C7C8;
	margin: 10px 10px 0px 10px;
	line-height: 50%;
	padding: 10px;
	float:left;
}

#Im_Feeling_Lucky:hover {
		-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.5);
		box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.5);
}


/*footer*/
footer ul li {
	display: inline;
	padding-right: 10px;
	margin: 0px;
	text-align: right;
	line-height: 30px;}

footer {
		width: 100%;
		font-family: Helvetica;
		height: 30px;
		position:absolute;
		bottom: 0;
		left: 0;
		border-top: 1px solid #EBEBF0;
		font-size: 13px;
		color: #79797A ;
		text-align: right;
	}
		

		/*height: 25px;
		line-height: 25px;
		text-align: right;
		
		font-size: 14px;
		color: #79797A ;
		position: absolute;
		top: 200px;
		clear:both;
	} 